.container {
  padding-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

.bases-add-container {
  padding: 30px 0px 30px;
  background: rgba(48, 48, 48, 0.8);
}

.row-bases {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #303030;
  min-height: 50vh;
}

.bases-title {
  padding-top: 15px;
  padding-bottom: 15px;
}

li {
  background: #737373;
  padding: 15px;
}

.card {
  width: 100%;
  background-color: #303030;
}

.base-img-top {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 140px;
  width: auto;
}
