<div class="container text-white">
  <div class="row row-search justify-content-center">
    <div class="col-md-6 col-md-offset-3 justify-content-center">
      <div *ngIf="error" class="alert alert-danger mt-3 mb-6">{{ error }}</div>
      <br />
      <div class="bases-add-container rounded">
        <div class="add-base text-center">
          <button class="btn btn-success btn-lg" [disabled]="!currentUser" (click)="openModal()">
            <span class="fa fa-plus"></span> Add a base
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-bases rounded justify-content-center">
    <div class="col-md-12">
      <div class="row bases-title justify-content-center">
        <h3 class="text-center">Bases</h3>
      </div>
      <div class="row bases-content justify-content-center">
        <div *ngFor="let base of player?.bases" class="col-md-8 pb-2">
          <div class="card text-center">
            <div class="text-center justify-content-center">
              <img
                class="base-img-top"
                [src]="'https://clashstats-api.herokuapp.com/api/images/' + base?.image"
                onError="this.src='assets/images/image-not-found.png'"
              />
            </div>
            <div class="card-body card-base-body m-1 rounded">
              <h5 class="card-title text-white">
                {{ base?.title }}
              </h5>
              <h6 class="text-white">
                <a class="text-white-50 btn-link" [attr.href]="base?.link" target="_blank">open in-game</a>
              </h6>
            </div>
            <div class="card-footer text-right">
              <button class="btn btn-danger btn-lg" [disabled]="!currentUser" (click)="removeBase(base?._id)">
                <span class="fa fa-trash"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
