<div class="container text-white">
  <div class="row row-search justify-content-center">
    <div class="col-md-6 col-md-offset-3 justify-content-center">
      <div class="players-search-container rounded">
        <div class="player-search-box">
          <div class="search-input justify-content-center">
            <input
              type="text"
              class="text-center rounded"
              placeholder="Search by name or #"
              [(ngModel)]="searchText"
            />
          </div>
        </div>
        <div class="add-player text-center">
          <button class="btn btn-success btn-lg" [disabled]="!currentUser" (click)="openModal()">
            <span class="fa fa-plus"></span> Add a player
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-players">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header text-center">
          <h3>Players</h3>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-center text-center">
            <span
              *ngIf="loading"
              class="spinner-border spinner-border"
              style="width: 5rem; height: 5rem;"
            ></span>
          </div>
          <cdk-virtual-scroll-viewport itemSize="players.length" class="rounded">
            <ul
              class="list-group list-group-flush"
              *cdkVirtualFor="let player of players | filter: searchText"
            >
              <app-players-list-item [player]="player"></app-players-list-item>
            </ul>
          </cdk-virtual-scroll-viewport>
        </div>
      </div>
    </div>
  </div>
</div>
