<div class="container rounded">
  <div class="row">
    <div class="col-sm-6 col-md-8 col-lg-9">
      <h1>Over deze applicatie</h1>
      <p>
        Deze applicatie is gemaakt door Maarten Meyer in het kader van het vak 'Clientside web frameworks' van
        Avans Hogeschool Breda.
      </p>
      <br />
      <h3>Clash Stats</h3>
      <p>
        Clash of Clans is een strategie spel op Android en iOS. Het doel van het spel is het steeds verder
        ontwikkelen van een eigen dorp door de dorpen van andere spelers aan te vallen. Spelers kunnen
        verschillende zelf ontworpen layouts kiezen voor hun dorpen. Daarnaast kunnen spelers tot een clan
        toetreden om elkaar te ondersteunen. Daarbij is ook een chat beschikbaar.
      </p>
      <p>
        De ontwikkelaars van Clash of Clans hebben ook een api beschikbaar gesteld waarmee bijna real-time
        data uit het spel kan worden opgevraagd. Er zijn al verschillende websites en applicaties door fans
        ontwikkeld die hier gebruik van maken, zoals <a href="http://clashofstats.com">Clash of Stats</a> en
        <a href="https://www.clashleaders.com">Clash Leaders</a>.
      </p>
      <p>
        Deze site maakt (nog) geen gebruik van deze api. Gebruikers kunnen op deze site zelf een speler of
        clan aanmaken, spelers aan een clan toevoegen en berichten plaatsen op de pagina van een clan. Ook
        kunnen spelers verschillende dorpen aan hun profiel toevoegen. De volgende entiteiten worden hiervoor
        gebruikt:
      </p>
      <br />
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div class="d-flex justify-content-center align-items-center">
          <img src="assets/images/Wallbreaker.png" class="card-img-top profile-pic" alt="..." />
        </div>
        <div class="card-body">
          <h5 class="card-title">Maarten Meyer</h5>
          <p class="card-text">
            Studentnummer: 2113421
          </p>
        </div>
      </div>
    </div>
  </div>

  <app-entities></app-entities>

  <div class="row">
    <div class="col-12">
      <br />
      <h3>Use Cases</h3>
      <p>De applicatie biedt de volgende functionaliteit.</p>
      <div *ngFor="let UC of useCases">
        <app-usecase [useCase]="UC"></app-usecase>
      </div>
    </div>
  </div>
</div>
