.profile-pic {
  width: 120px;
  margin: 20px;
}

.card-body {
  padding-top: 0;
}

.container {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.row {
  padding-top: 20px;
}
