<h3>Entiteiten</h3>
<div class="row">
  <div id="entity" class="col-sm-12 col-md-4">
    <p>User</p>
    <ul>
      <li>username: string</li>
      <li>email: string</li>
      <li>password: string</li>
    </ul>
  </div>
  <div id="entity" class="col-sm-12 col-md-4">
    <p>Player</p>
    <ul>
      <li>playerId: string</li>
      <li>name: string</li>
      <li>level: number</li>
      <li>creator: User</li>
      <li>image: Image</li>
      <li>clan: Clan</li>
      <li>bases: Base[]</li>
    </ul>
  </div>
  <div id="entity" class="col-sm-12 col-md-4">
    <p>Clan</p>
    <ul>
      <li>clanId: number</li>
      <li>name: string</li>
      <li>description: string</li>
      <li>creator: User</li>
      <li>image: Image</li>
      <li>members: Player[]</li>
      <li><i>messages: Message[]</i></li>
    </ul>
  </div>
</div>
<div class="row">
  <div id="entity" class="col-sm-12 col-md-4">
    <p>Base</p>
    <ul>
      <li>title: string</li>
      <li>image: Image</li>
      <li>link: string</li>
      <li><i>video: string</i></li>
    </ul>
  </div>
  <div id="entity" class="col-sm-12 col-md-4">
    <p>Message</p>
    <ul>
      <li>id: number</li>
      <li>content: string</li>
      <li>date: Date</li>
      <li>author: User</li>
    </ul>
  </div>
  <div id="entity" class="col-sm-12 col-md-4">
    <p>Image</p>
    <ul>
      <li>img: Buffer</li>
    </ul>
  </div>
</div>
<br />
<h3>ERD</h3>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="d-flex image-scroll border">
      <img src="assets/images/erd.png" alt="..." />
    </div>
  </div>
</div>
<br />
<h3>Sequence diagram update speler</h3>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="d-flex image-scroll border">
      <img src="assets/images/sequence-update.png" alt="..." />
    </div>
  </div>
</div>
<br />
<h3>Sequence diagram ophalen speler</h3>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="d-flex image-scroll border">
      <img src="assets/images/sequence-get.png" alt="..." />
    </div>
  </div>
</div>
