<div class="modal-header">
  <h4 class="modal-title">Add a player</h4>
  <button type="button" class="close" (click)="activeModal.dismiss('Cancel')">
    <span class="fa fa-close"></span>
  </button>
</div>
<form [formGroup]="createPlayerForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="form-group">
      <label for="playerId">Playertag</label>
      <input
        type="text"
        formControlName="playerId"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && form.playerId.errors }"
      />
      <div *ngIf="submitted && form.playerId.errors" class="invalid-feedback">
        <div *ngIf="form.playerId.errors.required">Playertag is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="name">Player name</label>
      <input
        type="text"
        formControlName="name"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && form.name.errors }"
      />
      <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
        <div *ngIf="form.name.errors.required">Player name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="name">Level</label>
      <input
        type="number"
        formControlName="level"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && form.level.errors }"
      />
      <div *ngIf="submitted && form.level.errors" class="invalid-feedback">
        <div *ngIf="form.level.errors.required">Level is required</div>
      </div>
    </div>
    <h3>Choose image</h3>
    <h6>(max 512x512)</h6>
    <div class="form-group">
      <input type="file" name="image" (change)="readUrl($event)" formControlName="image" />
    </div>
    <div class="image-preview mb-3 justify-content-center text-center" *ngIf="previewUrl">
      <img [src]="previewUrl" height="200" />
    </div>
    <div class="mb-3 justify-content-center" *ngIf="uploadedFilePath">
      {{ uploadedFilePath }}
    </div>
    <div *ngIf="error" class="alert alert-danger mt-3 mb-6">{{ error }}</div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" [disabled]="!createPlayerForm.valid">
      Save
    </button>
  </div>
</form>
