<div class="modal-header">
  <h4 class="modal-title">Choose player</h4>
  <button type="button" class="close" (click)="activeModal.dismiss('Cancel')">
    <span class="fa fa-close"></span>
  </button>
</div>
<form [formGroup]="addToClanForm" (ngSubmit)="onSubmit()">
  <div class="modal-body text-center">
    <div class="form-group">
      <label for="playerId">Player: </label><br />
      <select formControlName="playerId">
        <option value="0">Select player</option>
        <option *ngFor="let player of players" [value]="player.playerId">
          {{ player?.name }} - {{ player?.playerId }}
        </option>
      </select>
    </div>
    <div *ngIf="error" class="alert alert-danger mt-3 mb-6">{{ error }}</div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" [disabled]="!addToClanForm.valid">
      Save
    </button>
  </div>
</form>
