<div class="modal-header">
  <h4 class="modal-title">Add a clan</h4>
  <button type="button" class="close" (click)="activeModal.dismiss('Cancel')">
    <span class="fa fa-close"></span>
  </button>
</div>
<form [formGroup]="createClanForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="form-group">
      <label for="clanId">Clantag</label>
      <input
        type="text"
        formControlName="clanId"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && form.clanId.errors }"
      />
      <div *ngIf="submitted && form.clanId.errors" class="invalid-feedback">
        <div *ngIf="form.clanId.errors.required">Clantag is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="name">Clan name</label>
      <input
        type="text"
        formControlName="name"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && form.name.errors }"
      />
      <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
        <div *ngIf="form.name.errors.required">Clan name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="name">Description</label>
      <input
        type="text"
        formControlName="description"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && form.description.errors }"
      />
      <div *ngIf="submitted && form.description.errors" class="invalid-feedback">
        <div *ngIf="form.description.errors.required">Description is required</div>
      </div>
    </div>
    <h3>Choose image</h3>
    <h6>(max 512x512)</h6>
    <div class="form-group">
      <input type="file" name="image" (change)="readUrl($event)" formControlName="image" />
    </div>
    <div class="image-preview mb-3 justify-content-center text-center" *ngIf="previewUrl">
      <img [src]="previewUrl" height="200" />
    </div>
    <div class="mb-3 justify-content-center" *ngIf="uploadedFilePath">
      {{ uploadedFilePath }}
    </div>
    <div *ngIf="error" class="alert alert-danger mt-3 mb-6">{{ error }}</div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" [disabled]="!createClanForm.valid">
      Save
    </button>
  </div>
</form>
