<div class="modal-header">
  <h4 class="modal-title">Add a base</h4>
  <button type="button" class="close" (click)="activeModal.dismiss('Cancel')">
    <span class="fa fa-close"></span>
  </button>
</div>
<form [formGroup]="addBaseForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        formControlName="title"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && form.title.errors }"
      />
      <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
        <div *ngIf="form.title.errors.required">Title is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="link">Link</label>
      <input
        type="text"
        formControlName="link"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && form.link.errors }"
      />
      <div *ngIf="submitted && form.link.errors" class="invalid-feedback">
        <div *ngIf="form.link.errors.required">Link is required</div>
        <div *ngIf="form.link.hasError('pattern')">Link is invalid</div>
      </div>
    </div>
    <h3>Choose image</h3>
    <h6>(max 512x512)</h6>
    <div class="form-group">
      <input type="file" name="image" (change)="readUrl($event)" formControlName="image" />
    </div>
    <div *ngIf="submitted && form.image.errors" class="invalid-feedback">
      <div *ngIf="form.image.errors.required">Image is required</div>
    </div>
    <div class="image-preview mb-3 justify-content-center text-center" *ngIf="previewUrl">
      <img [src]="previewUrl" height="200" />
    </div>
    <div class="mb-3 justify-content-center" *ngIf="uploadedFilePath">
      {{ uploadedFilePath }}
    </div>
    <div *ngIf="error" class="alert alert-danger mt-3 mb-6">{{ error }}</div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success">
      Save
    </button>
  </div>
</form>
