.row {
  // margin-left: auto;
  // margin-right: auto;
  margin-bottom: 30px;
}
.container {
  padding-top: 20px;
}

.clans-search-container {
  padding: 30px 0px 20px;
  background: rgba(48, 48, 48, 0.8);
}

.clan-search-box {
  font-family: 'Lato', sans-serif;
}

.clan-search-form p {
  font-size: 12px;
  color: #b6b6b6;
  font-style: italic;
  margin-bottom: 0;
}

.search-input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.search-input input {
  width: 60%;
  height: 50px;
  color: #3a3a3a;
  border: none;
}

.card {
  width: 100%;
  background-color: #303030;
}

.virtual-scroll-wrap {
  width: 50%;
  margin: auto;
  min-width: 100px;
}

cdk-virtual-scroll-viewport {
  height: 50vh;
  li {
    height: 100px;
    list-style: none;
    border: 1px solid #ccc;
    margin: 10px 30px;
  }
}
