<div class="container text-white">
  <div class="row justify-content-center">
    <div class="col-md-6 col-md-offset-3 justify-content-center">
      <div class="clans-search-container rounded">
        <div class="clan-search-box">
          <div class="search-input justify-content-center">
            <input
              type="text"
              class="text-center rounded"
              placeholder="Search by name or #"
              [(ngModel)]="searchText"
            />
          </div>
        </div>
        <div class="add-clan text-center">
          <button class="btn btn-success btn-lg" [disabled]="!currentUser" (click)="openModal()">
            <span class="fa fa-plus"></span> Add a clan
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header text-center">
          <h3>Clans</h3>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-center text-center">
            <span
              *ngIf="loading"
              class="spinner-border spinner-border"
              style="width: 5rem; height: 5rem;"
            ></span>
          </div>
          <cdk-virtual-scroll-viewport itemSize="clans.length" class="rounded">
            <ul class="list-group list-group-flush" *cdkVirtualFor="let clan of clans | filter: searchText">
              <app-clans-list-item [clan]="clan"></app-clans-list-item>
            </ul>
          </cdk-virtual-scroll-viewport>
        </div>
      </div>
    </div>
  </div>
</div>
