<div class="modal-header">
  <h4 class="modal-title">Update player</h4>
  <button type="button" class="close" (click)="activeModal.dismiss('Cancel')">
    <span class="fa fa-close"></span>
  </button>
</div>
<form [formGroup]="updatePlayerForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="form-group">
      <label for="name">Player name</label>
      <input
        type="text"
        formControlName="name"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && form.name.errors }"
      />
      <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
        <div *ngIf="form.name.errors.required">Player name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="name">Level</label>
      <input
        type="number"
        formControlName="level"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && form.level.errors }"
      />
      <div *ngIf="submitted && form.level.errors" class="invalid-feedback">
        <div *ngIf="form.level.errors.required">Level is required</div>
      </div>
    </div>
    <div *ngIf="error" class="alert alert-danger mt-3 mb-6">{{ error }}</div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" [disabled]="!updatePlayerForm.valid">
      Save
    </button>
  </div>
</form>
