.container {
  padding-top: 20px;
  min-height: 90vh;
}

.row {
  margin-bottom: 30px;
}

.about-row,
.choices-row {
  padding: 30px 0px 20px;
  background-color: #303030;
}

.show-clans {
  width: 100%;
}

.show-players {
  width: 100%;
}
