<div class="container text-white rounded">
  <div class="row about-row justify-content-center rounded">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">Clash Stats</h1>
      <div class="info justify-content-center">
        <p class="lead text-center">
          Clash of Clans is an online mobile strategy game in which players can create their own fantasy town
          and upgrade it by gathering resources and attacking other players. Players can get help by joining a
          clan and chatting with their clanmembers.<br />
          This tool allows you to do the following things:
        </p>
        <ul>
          <li>
            Create your own players or clans
          </li>
          <li>
            Add your players to a clan
          </li>
          <li>
            Add bases to your players
          </li>
          <li>
            Manage your players, clans and bases
          </li>
        </ul>
        <p class="text-center text-white-50">
          For some of these actions you will have to register an account
        </p>
      </div>
    </div>
  </div>
  <div class="row choices-row justify-content-center rounded">
    <div class="col-md-6 col-md-offset-3 mb-3">
      <div class="show-players text-center">
        <button class="btn btn-success btn-lg w-100" routerLink="/players">
          View players
        </button>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-3 mb-3">
      <div class="show-clans text-center">
        <button class="btn btn-success btn-lg w-100" routerLink="/clans">
          View Clans
        </button>
      </div>
    </div>
  </div>
</div>
