<li class="list-group-item d-flex justify-content-between text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-1 clan-icon">
        <img
          *ngIf="clan"
          [src]="'https://clashstats-api.herokuapp.com/api/images/' + clan?.image"
          onError="this.src='assets/images/image-not-found.png'"
          class="border"
          height="50"
          width="50"
        />
      </div>
      <div class="col-md-10">
        <div class="row text-align-left">
          <div class="col-md-12">
            <span>{{ clan?.name }}</span>
            <span class="text-white-50 small"> - #{{ clan?.clanId }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <span class="badge badge-primary badge-pill">{{ clan?.members.length }}</span>
          </div>
        </div>
      </div>
      <div class="col-md-1 justify-content-center">
        <a
          *ngIf="clan"
          [routerLink]="['/clans', clan?.clanId]"
          class="btn btn-clan-detail btn-success align-middle"
          >Details</a
        >
      </div>
    </div>
  </div>
</li>
