<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <h4 class="card-header text-white">Create an account</h4>
    <div class="card-body text-white">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            formControlName="username"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && form.username.errors }"
          />
          <div *ngIf="submitted && form.username.errors" class="invalid-feedback">
            <div *ngIf="form.username.errors.required">Username is required</div>
            <div *ngIf="form.username.errors.minlength">Username should be at least 4 characters long</div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            formControlName="email"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && form.email.errors }"
          />
          <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
            <div *ngIf="form.email.errors.required">Email is required</div>
            <div *ngIf="form.email.errors.email">Email is invalid</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && form.password.errors }"
          />
          <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
            <div *ngIf="form.password.errors.required">Password is required</div>
            <div *ngIf="form.password.hasError('pattern')">
              Password must be at least 8 characters long and contain at least 1 lower case letter [a-z], 1
              upper case letter [A-Z] and 1 numeric character [0-9]
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Register</button>
          <a routerLink="/login" class="btn text-danger">Cancel</a>
          <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{ error }}</div>
        </div>
      </form>
    </div>
  </div>
</div>
