<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <h4 class="card-header text-white">Log in to Clash Stats</h4>
    <div class="card-body text-white">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            formControlName="email"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && form.email.errors }"
          />
          <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
            <div *ngIf="form.email.errors.required">Enter your email</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && form.password.errors }"
          />
          <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
            <div *ngIf="form.password.errors.required">Enter your password</div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <a routerLink="/register" class="btn text-secondary">Register</a>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{ error }}</div>
      </form>
    </div>
  </div>
</div>
