<nav class="navbar navbar-expand-md navbar-dark shadow-sm p-3 mb-5 fixed-top">
  <div class="container">
    <a
      class="navbar-brand"
      routerLink="/"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <img src="assets/images/icon.png" class="d-inline-block align-middle mr-2" width="70" />
    </a>
    <button
      class="navbar-toggler hidden-sm-up"
      type="button"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
      data-target="#navbarsDefault"
      aria-controls="navbarsDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="navbar-nav mr-auto" (click)="isNavbarCollapsed = !isNavbarCollapsed">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" [routerLinkActive]="['active']">Home</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="players"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Players</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="clans"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Clans</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="about"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >About</a
          >
        </li>
      </ul>
    </div>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="nav navbar-nav ml-auto" (click)="isNavbarCollapsed = !isNavbarCollapsed">
        <li class="nav-item" *ngIf="!currentUser">
          <a class="nav-link" routerLink="login" [routerLinkActive]="['active']">
            <span class="fa fa-sign-in"></span> Log in
          </a>
        </li>
        <li class="nav-item" *ngIf="currentUser">
          <a class="nav-link" (click)="logout()" [routerLinkActive]="['active']">
            <span class="fa fa-sign-out"></span> Log out
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main role="main" class="container">
  <router-outlet></router-outlet>
</main>

<footer class="page-footer font-small">
  <div class="container">
    <div class="footer-text text-center text-white py-3">
      <a class="text-white"
        >This content is not affiliated with, endorsed, sponsored, or specifically approved by Supercell and
        Supercell is not responsible for it. For more information see Supercell's Fan Content Policy</a
      ><br />
      <a class="text-secondary" href="https://supercell.com/en/fan-content-policy/"
        >https://supercell.com/en/fan-content-policy/</a
      >
    </div>
  </div>
</footer>
