*:before,
*:after {
  box-sizing: border-box;
}

.navbar {
  background-color: #303030;
}

footer {
  position: absolute;
  width: 100%;
  background-color: #303030;
}

main.container {
  margin-top: 72px;
  position: relative;
  min-height: calc(100vh - 165px);
  padding: 12px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 960px) {
  .footer-text {
    word-wrap: break-word;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
@media (min-width: 1264px) {
  .footer-text {
    word-wrap: break-word;
    margin-left: 10rem;
    margin-right: 10rem;
  }
}
@media (min-width: 1904px) {
  .footer-text {
    word-wrap: break-word;
    margin-left: 6rem;
    margin-right: 6rem;
  }
}
.container--fluid {
  max-width: 100%;
}

.btn-link {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.btn-link.focus,
.btn-link:focus,
.btn-link.hover,
.btn-link:hover {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  box-shadow: none;
}
