.container {
  padding-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

.row-player {
  margin-bottom: 30px;
}

.row-bases {
  margin-bottom: 30px;
  background-color: #303030;
}

.bases-title {
  padding-top: 15px;
  padding-bottom: 15px;
}

.player-content {
  padding-bottom: 15px;
}

li {
  background: #737373;
  padding: 15px;
}

.card {
  width: 100%;
  background-color: #303030;
}

.card-img-top {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 200px;
  width: auto;
}

.btn {
  font-family: Roboto, sans-serif;
}
