<div class="container text-white">
  <div class="row row-player justify-content-center">
    <div class="col-md-6 col-md-offset-3 justify-content-center">
      <div *ngIf="error" class="alert alert-danger mt-3 mb-6">{{ error }}</div>
      <br />
      <div class="card m-b-30">
        <div class="text-center justify-content-center">
          <img
            class="card-img-top"
            [src]="'https://clashstats-api.herokuapp.com/api/images/' + player?.image"
            onError="this.src='assets/images/image-not-found.png'"
          />
        </div>
        <div class="card-header text-center">
          <h3>{{ player?.name }}</h3>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4">
                  <h5>Player tag:</h5>
                </div>
                <div class="col-md-8">
                  <h6 class="text-white-50">#{{ player?.playerId }}</h6>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4">
                  <h5>Level</h5>
                </div>
                <div class="col-md-8">
                  <h6 class="text-white-50">{{ player?.level }}</h6>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4">
                  <h5>Link:</h5>
                </div>
                <div class="col-md-8">
                  <h6 class="text-white">
                    <a
                      class="text-white btn-link"
                      [attr.href]="
                        'https://link.clashofclans.com/en?action=OpenPlayerProfile&tag=' + player?.playerId
                      "
                      target="_blank"
                      >open in-game</a
                    >
                  </h6>
                </div>
              </div>
            </li>
            <li *ngIf="player?.clan" class="list-group-item">
              <div class="row">
                <div class="col-md-4">
                  <h5>Clan</h5>
                </div>
                <div class="col-md-8">
                  <a [routerLink]="['/clans', player.clan.clanId]" class="btn-link text-white align-middle">{{
                    player?.clan.name
                  }}</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="card-footer text-right">
          <a class="btn btn-primary btn-lg ml-1 mr-1" [routerLink]="['../../', player.playerId, 'bases']">
            <span class="fa fa-card"> View bases</span>
          </a>
          <button
            class="btn btn-success btn-lg ml-1 mr-1"
            [disabled]="!currentUser"
            (click)="openUpdateModal()"
          >
            <span class="fa fa-edit"></span>
          </button>
          <button class="btn btn-danger btn-lg ml-1 mr-1" [disabled]="!currentUser" (click)="deletePlayer()">
            <span class="fa fa-trash"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
