<li class="list-group-item d-flex justify-content-between text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-1 player-icon">
        <img
          *ngIf="player"
          [src]="'https://clashstats-api.herokuapp.com/api/images/' + player?.image"
          onError="this.src='assets/images/image-not-found.png'"
          height="50"
          width="50"
        />
      </div>
      <div class="col-md-10">
        <div class="row text-align-left">
          <div class="col-md-12">
            <span>{{ player?.name }}</span>
            <span class="text-white-50 small"> - #{{ player?.playerId }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <span class="badge badge-primary badge-pill">{{ player?.level }}</span>
          </div>
        </div>
      </div>
      <div class="col-md-1 justify-content-center">
        <a
          *ngIf="player"
          [routerLink]="['/players', player.playerId]"
          class="btn btn-player-detail btn-success align-middle"
          >Details</a
        >
      </div>
    </div>
  </div>
</li>
