<div class="modal-header">
  <h4 class="modal-title">Update description</h4>
  <button type="button" class="close" (click)="activeModal.dismiss('Cancel')">
    <span class="fa fa-close"></span>
  </button>
</div>
<form [formGroup]="updateClanForm" (ngSubmit)="onSubmit()">
  <div class="modal-body text-center">
    <div class="form-group">
      <label for="description">Description: </label><br />
      <input
        type="text"
        formControlName="description"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && form.description.errors }"
      />
      <div *ngIf="submitted && form.description.errors" class="invalid-feedback">
        <div *ngIf="form.description.errors.required">Update description or cancel</div>
      </div>
    </div>
    <div *ngIf="error" class="alert alert-danger mt-3 mb-6">{{ error }}</div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" [disabled]="!updateClanForm.valid">
      Save
    </button>
  </div>
</form>
