<div class="container text-white">
  <div class="row row-clan justify-content-center">
    <div class="col-md-6 cold-md-offset-3 justify-content-center">
      <div *ngIf="error" class="alert alert-danger mt-3 mb-6">{{ error }}</div>
      <br />
      <div class="card m-b-30">
        <div class="text-center justify-content-center">
          <img
            class="card-img-top"
            [src]="'https://clashstats-api.herokuapp.com/api/images/' + clan?.image"
            onError="this.src='assets/images/image-not-found.png'"
          />
        </div>
        <div class="card-header text-center">
          <h3>{{ clan?.name }}</h3>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4">
                  <h5>Clan tag:</h5>
                </div>
                <div class="col-md-8">
                  <h6 class="text-white-50">#{{ clan?.clanId }}</h6>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4">
                  <h5>Description:</h5>
                </div>
                <div class="col-md-8">
                  <h6 class="text-white-50">{{ clan?.description }}</h6>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4">
                  <h5>Members:</h5>
                </div>
                <div class="col-md-8">
                  <h6 class="text-white-50">{{ clan?.members.length }}</h6>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4">
                  <h5>Link:</h5>
                </div>
                <div class="col-md-8">
                  <h6 class="text-white">
                    <a
                      class="text-white btn-link"
                      [attr.href]="
                        'https://link.clashofclans.com/en?action=OpenClanProfile&tag=' + clan?.clanId
                      "
                      target="_blank"
                      >open in-game</a
                    >
                  </h6>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="card-footer text-right">
          <button
            class="btn btn-primary btn-lg ml-1 mr-1"
            [disabled]="!currentUser"
            (click)="openJoinModal()"
          >
            <span class="fa fa-male"> Join clan</span>
          </button>
          <button
            class="btn btn-success btn-lg ml-1 mr-1"
            [disabled]="!currentUser"
            (click)="openUpdateModal()"
          >
            <span class="fa fa-edit"></span>
          </button>
          <button class="btn btn-danger btn-lg ml-1 mr-1" [disabled]="!currentUser" (click)="deleteClan()">
            <span class="fa fa-trash"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-members rounded justify-content-center">
    <div class="col-md-12">
      <div class="row members-title justify-content-center">
        <h3 class="text-center">Members</h3>
      </div>
      <div class="row members-content justify-content-center">
        <div *ngFor="let member of clan?.members" class="col-md-4 pb-2">
          <div class="card text-center">
            <div class="text-center justify-content-center">
              <img
                class="member-img-top"
                [src]="'https://clashstats-api.herokuapp.com/api/images/' + member?.image"
                onError="this.src='assets/images/image-not-found.png'"
              />
            </div>
            <div class="card-body card-member-body m-1 rounded">
              <h5 [routerLink]="['/players', member.playerId]" class="card-title btn-link text-white">
                {{ member?.name }}
              </h5>
              <p class="card-text">{{ member?.playerId }}</p>
              <span class="badge badge-primary badge-pill">{{ member?.level }}</span>
            </div>
            <div class="card-footer text-right">
              <button
                class="btn btn-danger btn-lg"
                [disabled]="!currentUser"
                (click)="removeMember(member.playerId)"
              >
                <span class="fa fa-trash"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
