.container {
  padding-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

.btn {
  font-family: Roboto, sans-serif;
}

.row-clan {
  margin-bottom: 30px;
}

.row-members {
  margin-bottom: 30px;
  background-color: #303030;
}

.members-title {
  padding-top: 15px;
  padding-bottom: 15px;
}

.members-content {
  padding-bottom: 15px;
}

li {
  background: #737373;
  padding: 15px;
}

.card {
  width: 100%;
  background-color: #303030;
}

.card-img-top {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 200px;
  width: auto;
}

.member-img-top {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 140px;
  width: auto;
}
