/* You can add global styles to this file, and also import other style files */
html,
body {
  height: calc(100vh - 178px);
  position: relative;
  font-family: Roboto, sans-serif;
}

body {
  background-color: #212121;
}
